<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Frida Kahlo</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div id="about">
        <a href="/about">About</a>
      </div>
      <div id="brand">
        <a href="/home">
          <h1>Frida Kahlo</h1>
          <p>an icon of female creativity</p>
        </a>
      </div>
      <div id="works">
        <a href="/works">Artwork</a>
      </div>
    </header>
    <main>
      <div class="textContainer">
        <h2>"I am my own muse, the subject I know best."</h2>
        <img src="" />
        <p>
          FRIDA KAHLO, or MAGDALENA CARMEN FRIDA KAHLO CALDERÓN, was born on July 6,
    1907 in the Mexico City home owned by her parents since 1904, known today as the Blue
    House. Daughter of Wilhelm (Guillermo) Kahlo, of German descent, and of Mexican Matilde
    Calderón, Frida was the third of four daughters of whom her two sisters, Matilde and Adriana,
    were the eldest and Cristina, the youngest. 
        </p>
        <p>
          At the age of six Frida fell ill with polio, causing her right leg to remain shorter than the other,
    which resulted in bullying. Nevertheless, this setback did not prevent her from being a curious
    and tenacious student. She completed her high school studies at the Escuela Nacional
    Preparatoria
        </p>
        <p>
          At the age of 18, on September 17th, 1925, Frida was in a tragic accident. A streetcar
    crashed into the bus she was traveling in. The consequences to her person were terrible:
    several bones were fractured and her spinal cord, damaged. While she was immobilized for
    several months, Frida began to paint. Afterwards, she formed relationships with several
    artists, including the photographer Tina Modotti and the already renowned artist Diego Rivera.
        </p>
        <p>
          In 1929, Frida married the muralist. The couple lived at the Blue House, Frida's childhood
    home, as well as at Diego's studio in San Ángel. Kahlo and Rivera also resided in Cuernavaca
    and in various cities of the United States: Detroit, San Francisco, and New York. They stayed
    for short periods of time in Mexico City. 
        </p>
        <p>
          In 1930, Frida suffered her first miscarriage. In November of that same year and for workrelated reasons, the couple traveled to San Francisco. There, the painter met Doctor Leo
    Eloesser, who would become one of her most trusted doctors and one of her closest friends. 
        </p>
        <p>
          Diego's infidelities unleashed a series of emotional crises. Frida divorced the muralist in 1939,
    only to remarry him one year later. 
        </p>
        <p>
          Despite her poor health and having been subjected to operations on multiple occasions, Frida
    was an intensely active artist. In political terms, she was a member of the Communist Party and a faithful left-wing activist. Together with Rivera, she refurbished the Blue House to provide
    asylum for over two years to Leon Trotsky and Natalia, his wife. Few days before before her
    death, Frida even participated in a protest march against the coup that overthrew Guatemalan
    president Jacobo Árbenz, suffering a pulmonary embolism as a result.
        </p>
        <p>
          She taught at La Esmeralda National School of Painting and Sculpture. Both in her work and in
    her daily life –language, wardrobe, and household décor– Frida sought to reclaim the roots of
    Mexican folk art, an interest that is reflected in all her work; for example, her attire or her selfportraits, as well as the simple and direct style characteristic of the <i>ex-voto</i> folk art she
    collected.
        </p>
        <p>
          Frida claimed that, unlike the surrealist painters, she did not paint her dreams but rather, her
    reality. Outstanding in her work are the self-portraits influenced by the photographic
    portraiture style she learned from her father, Guillermo Kahlo.
        </p>
        <p>
          Toward the end of her life, the artist's health deteriorated. From 1950 to 51, she remained
    confined at the <i>Hospital Inglés</i>. In 1953, subjected to the threat of gangrene, her right leg was
    amputated.
        </p>
        <p>
          Friday Kahlo died at the Blue House of Mexico City on July 13th, 1954, while the National
    Institute of Fine Arts was preparing a retrospective exhibition as a national tribute to her. 
        </p>
        <p>
          Among the canvases that comprise the painter's oeuvre, some of the more famous are: <i>The
    Two Fridas</i>, Long Live Life!</i>, <i>A Few Little Pricks</i>, <i>The Broken Column</i>, and <i>Diego on my Mind</i>.
        </p>
        <p>
          During her life, the artist held several exhibitions: one in New York at the Julien Levy Gallery,
    another in Paris at the Renou et Colle Gallery, and another in Mexico in the Lola Álvarez Bravo
    Gallery. She also participated in the Group Surrealist Show at the famous Mexican Art Gallery. 
        </p>
        <p>
          The Louvre Museum acquired one of her self-portraits. Today, her paintings are also found in
    numerous private collections in Mexico, the United States, and Europe. Her personality has
    been adopted as one of the banners of feminism, handicapped people, sexual freedom, and
    Mexican culture. Frida Kahlo has become a reference that surpasses the myth the painter
    created around herself.
        </p>
        <p class="source">Source: <a class="sourceLink" href="https://www.museofridakahlo.org.mx/en/frida-kahlo-en/">Museo Frida Kahlo</a></p>
      </div>
    </main>
  </body>
</html>
