<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Frida Kahlo</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div id="about">
        <a href="/about">About</a>
      </div>
      <div id="brand">
        <a href="/home">
          <h1>Frida Kahlo</h1>
          <p>an icon of female creativity</p>
        </a>
      </div>
      <div id="works">
        <a href="/works">Artwork</a>
      </div>
    </header>
    <main>
      <div class="textContainer">
        <h2>"I never painted dreams. I painted my own reality."</h2>
        <p>
          After the accident, Frida Kahlo turned her attention away from the study of medicine to begin a full-time painting career. 
          The accident left her in a great deal of pain while she recovered in a full body cast; she painted to occupy her time during 
          her temporary state of immobilization. Her self-portraits became a dominant part of her life when she was immobile for 
          three months after her accident. Frida Kahlo once said, "I paint myself because I am often alone and I am the subject I know best". 
          Her mother had a special easel made for her so she could paint in bed, and her father lent her his box of oil paints and some brushes.
        </p>
        <p>
          Drawing on personal experiences, including her marriage, her miscarriages, and her numerous operations, Kahlo's works often are c
          haracterized by their stark portrayals of pain. Of her 143 paintings, 55 are self-portraits which often incorporate symbolic portrayals 
          of physical and psychological wounds. She insisted, "I never painted dreams. I painted my own reality".
        </p>
        <p>
          Kahlo was deeply influenced by indigenous Mexican culture, which is apparent in her use of bright colors and dramatic symbolism. 
          She frequently included the symbolic monkey. In Mexican mythology, monkeys are symbols of lust, yet Kahlo portrayed them as tender 
          and protective symbols. Christian and Jewish themes are often depicted in her work. She combined elements of the classic religious 
          Mexican tradition with surrealist renderings.
        </p>
        <p>
          At the invitation of Andre Breton, she went to France in 1939 and was featured at an exhibition of her paintings in Paris. 
          The Louvre bought one of her paintings, The Frame, which was displayed at the exhibit. This was the first work by a 20th century 
          Mexican artist ever purchased by the internationally renowned museum.
        </p>
        <div class="image">
          <img src="/images/kahlo-frame.jpeg" alt="The Frame by Frida Kahlo"/>
        </div>
        <p class="source">Source: <a class="sourceLink" href="https://www.frida-kahlo-foundation.org/biography.html">Frida Kahlo Foundation</a></p>
      </div>
    </main>
  </body>
</html>